<div class="max-w-600 mx-auto text-center pt-8">
  <h1 class='mt-8'>Functional CSS training</h1>
  <h2 class='mt-3 text-xl font-medium opacity-50'>– EmberConf 2018 –</h2>

  <p class='mt-8 text-lg'>Welcome!</p>
</div>
