body {
  background-color: #4DC0B5;
  color: #0D3331;
}
.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 33vh;
  font-family: sans-serif;
}

h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 40px;
}
h2 {
  margin-top: 20px;
  font-weight: 500;
}
