<div class='mt-8 mx-auto flex justify-center items-center'>
  <div
    class='shadow-lg rounded p-4 pb-8 border-orange bg-orange-lightest leading-normal text-center'
    style='color: #D66C59; border-color: #D66C59; border-top-width: 15px;'
  >
    <p class='font-bold' style='font-size: 40px;'>EmberConf</p>
    <p class='mt-4'>It's here, it's happening</p>
  </div>
</div>
