<div class='mt-8 max-w-xl mx-auto flex justify-center items-center'>
  <div class='w-64 shadow-lg rounded border-t-8 p-4 pb-8 border-orange-dark text-orange-dark bg-orange-lightest leading-normal text-center'>
    <p class='text-xl font-bold'>EmberConf</p>
    <p class='mt-4'>It's here, it's happening</p>
  </div>
</div>
