<div class='mt-8 max-w-xl mx-auto text-center'>
  <h1 class='font-thin text-5xl'>Hello, EmberConf!</h1>

  <div class="mt-8">
    <button class="bg-blue hover:bg-blue-dark text-white py-2 px-4 rounded">
      Get started
    </button>
  </div>
</div>
