<div class="flex">
  <div class="w-64 flex-no-shrink min-h-screen p-4 border-r bg-grey-lightest {{if isHidingSidebar 'hidden'}}">
    <p class='mt-3 text-xl'>
      {{#link-to 'application' class='text-center text-black no-underline text-base font-bold uppercase'}}
        Functional<span class="text-blue">CSS</span>
      {{/link-to}}
    </p>
    <ul class='list-reset mt-8'>
      {{#nav-link '1-lecture' step=1 type='Lecture'}}
        Intro to Functional CSS
      {{/nav-link}}
      {{#nav-link '2-lecture' step=2 type='Lecture' mockup=true}}
        Our first template
      {{/nav-link}}
      {{#nav-link '3-exercise' step=3 type='Exercise' mockup=true}}
        Your turn
      {{/nav-link}}
      {{#nav-link '4-lecture' step=4 type='Lecture' mockup=true}}
        Customizing Tailwind
      {{/nav-link}}
      {{#nav-link '5-exercise' step=5 type='Exercise' mockup=true}}
        Your turn
      {{/nav-link}}
      {{#nav-link '6-lecture' step=6 type='Lecture'}}
        Functional CSS Recap
      {{/nav-link}}
      {{#nav-link '7-lecture' step=7 type='Lecture' mockup=true}}
        Scaling Functional CSS in Ember
      {{/nav-link}}
    </ul>
  </div>
  <div class="flex-grow font-sans min-h-screen">
    <a {{action (toggle 'isHidingSidebar' this)}} href=""
      class='absolute transition inline-block p-4 text-black opacity-25 hover:opacity-100'>
      {{fa-icon (if isHidingSidebar 'chevron-right' 'chevron-left')}}
    </a>

    {{outlet}}
  </div>
</div>
