<div style='background-color: #f6f9fc; padding: 20px;'>
  <div class="mx-auto flex items-center"
    style='max-width: 1040px; padding: 50px 0'
  >

    <div class='w-1/2'>
      <h1 class='my-3 font-normal' style='line-height: 45px;'>
        <span style='color: #6772e5;' class='font-light block'>Ready to get started?</span>

        Access Stripe Radar’s features right from the Dashboard.
      </h1>
    </div>

    <div class='w-1/2 flex justify-end'>
      <button
        class='uppercase text-white rounded py-3 mr-4 float stripe-button stripe-button-purple transition'
        style='padding-left: 14px; padding-right: 14px;'
      >
        Activate Radar
      </button>

      <button
        class='stripe-button stripe-button-white transition uppercase rounded py-3 float'
        style='
          padding-left: 14px;
          padding-right: 14px;
        '
      >
        Get in touch
      </button>
    </div>

  </div>
</div>
