<div class="bg-grey-lighter py-8">
  <div class="px-8 flex">
    <div class='w-1/2'>
      <h1 class='font-normal text-3xl'>
        <span class='block font-thin text-indigo'>Ready to sign up?</span>
        Create an account
      </h1>
    </div>
    <div class='w-1/2 text-right'>
      <button class="bg-blue hover:bg-blue-dark text-white py-2 px-4 rounded shadow-lg mr-4">
        Get started
      </button>
      <button class="bg-white text-blue hover:text-blue-light py-2 px-4 rounded shadow-lg">
        Learn more
      </button>
    </div>
  </div>
</div>
