<div class="flex min-h-screen">
  <div class='w-1/2 border-r'>
    <p class='mt-4 mb-8 uppercase opacity-25 text-lg text-center'>Exercise</p>
    {{8-exercise/exercise}}
  </div>
  <div class='w-1/2'>
    <p class='mt-4 mb-8 uppercase opacity-25 text-lg text-center'>solution</p>
    {{8-exercise/solution}}
  </div>
</div>
