<div class="text-center">
  <div class="flex">
    <div class='w-1/2'>
      {{!-- Empty for now --}}
    </div>
    <div class='w-1/2'>
      <button class="bg-blue hover:bg-blue-dark text-white py-2 px-4 rounded shadow-lg mr-4">
        Get started
      </button>
      <button class="bg-white text-blue hover:text-blue-light py-2 px-4 rounded shadow-lg">
        Learn more
      </button>
    </div>
  </div>
</div>
